<div class="container">
  <h1>{{title}}</h1>
  <div>
    <h4>Name: </h4>
    <input type="text" placeholder="Vehicle Name" [(ngModel)]= "newVehicle.name">
  </div>
  <div>
    <h4>Type: </h4>
    <select [(ngModel)]="newVehicle.carType">
      <option *ngFor="let type of keys(carTypes)" [ngValue]="type">{{carTypes[type]}}</option>
    </select>
  </div>
  <div>
    <h4>Time Created: </h4>
    <input type="date" placeholder="Time Created"
           [(ngModel)]="newVehicle.createdTime">
  </div>
  <div>
    <h4>Last Successful Connection: </h4>
    <input type="date" placeholder="Last Successful Connection"
           [(ngModel)]="newVehicle.lastSuccessfulConnection">
  </div>
  <button class="styled-button save-button" (click)="saveVehicle()">Save</button>
</div>
